@use "palette";

@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700&family=Righteous&display=swap");

%nav-text {
	font-family: "Righteous", cursive;
	font-size: 20px;
	color: palette.$dark;
	text-align: right;
}

%caption-text {
	font-family: "Prompt", sans-serif;
	color: palette.$dark;
}

%heading-two {
	font-family: "Righteous", cursive;
	font-size: 70px;
	padding-bottom: 45px;
}

%button-text {
	font-family: "Righteous", cursive;
	font-size: 20px;
}

%list-text {
	font-family: "Prompt", sans-serif;
	font-size: 26px;
	font-weight: bold;
	margin: 20px;
}
