@use "./../partials/palette";
@use "./../partials/text-styles";
@use "./../mixins/mixins.scss";
.card__btn {
	@extend %button-text;
	padding: 10px 20px;
	border: 3px solid white;
	border-radius: 100px;
	color: white;

	@include mixins.phone {
		font-size: 16px;
	}

	@include mixins.tablet {
		font-size: 16px;
	}

	&--outline {
		background-color: transparent;
	}

	&--outline:hover {
		background-color: palette.$yellow-bg-col;
		border: 3px solid palette.$yellow-bg-col;
		color: palette.$dark;
	}

	&--blue {
		background-color: palette.$blue;

		@include mixins.phone {
			margin: 6px 0;
		}
	}

	&--blue:hover {
		background-color: transparent;

		color: palette.$blue;
		border: 3px solid palette.$blue;
	}
}
