@use "./../partials/palette";
@use "./../partials/text-styles";
@use "./../mixins/mixins.scss";

h4 {
	font-family: "Righteous", cursive;
	font-size: 42px;
	color: palette.$blue;
}

.project-card {
	display: flex;
	flex-direction: row;
	margin-bottom: 60px;

	&--reverse {
		flex-direction: row-reverse;
		text-align: right;
	}

	@include mixins.tablet {
		flex-direction: column;
	}

	@include mixins.phone {
		flex-direction: column;
	}

	@include mixins.landscape-tablet {
		flex-direction: column;
	}

	@include mixins.laptop {
		flex-direction: column;
	}
}

.project-img {
	flex: 50%;
}

.project-img img {
	max-width: 100%; /*takes 100% oof the div */
	display: flex; /* remove extra space below image */
}

.project-caption {
	flex: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.project-caption > h4,
p {
	padding: 0 45px;
	@include mixins.laptop {
		padding: 15px 0;
	}
	@include mixins.tablet {
		padding: 15px 0;
	}
	@include mixins.phone {
		padding: 15px 0;
	}

	@include mixins.landscape-tablet {
		padding: 15px 0;
	}
}

.project__card--buttons {
	padding: 0 45px;

	@include mixins.laptop {
		padding: 15px 0;
	}
	@include mixins.tablet {
		padding: 15px 0;
	}
	@include mixins.phone {
		padding: 15px 0;
	}

	@include mixins.landscape-tablet {
		padding: 15px 0;
	}
}
