@use "./../partials/palette";
@use "./../partials/text-styles";
@use "./../mixins/mixins.scss";

h4 {
	font-family: "Righteous", cursive;
	font-size: 42px;
	color: palette.$blue;
}

.project-card {
	display: flex;
	flex-direction: row;
	margin-bottom: 80px;
	width: 100%;

	&--reverse {
		flex-direction: row-reverse;
		text-align: right;
	}

	@include mixins.laptop-and-smaller {
		flex-direction: column;
		margin-bottom: 50px;
	}
}

.project-img {
	flex: 50%;

	@include mixins.phone {
		flex: 100%;
	}

	&--frame {
		border: 1px solid palette.$blue;
	}
}

.project-img img {
	max-width: 100%;
	display: flex;
}

.project-caption {
	flex: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	@include mixins.phone {
		flex: 100%;
	}
}

.text--padding,
h4 {
	padding: 0 45px;
	@include mixins.laptop-and-smaller {
		padding: 15px 0;
	}
}

.project__card--buttons {
	padding: 0 45px;

	@include mixins.laptop {
		padding: 15px 0;
	}
	@include mixins.tablet {
		padding: 15px 0;
	}
	@include mixins.phone {
		padding: 15px 0;
		display: flex;
		flex-direction: column;
	}

	@include mixins.landscape-tablet {
		padding: 15px 0;
	}
}
