@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700&family=Righteous&display=swap");
nav {
  font-family: "Righteous", cursive;
  font-size: 20px;
  color: #0f0f0f;
  text-align: right;
}

.text {
  font-family: "Prompt", sans-serif;
  color: #0f0f0f;
}

.heading {
  font-family: "Righteous", cursive;
  font-size: 70px;
  padding-bottom: 45px;
}

.btn {
  font-family: "Righteous", cursive;
  font-size: 20px;
}

.skills-list p {
  font-family: "Prompt", sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin: 20px;
}

.btn {
  padding: 10px 20px;
  border: 3px solid white;
  border-radius: 100px;
  color: white;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .btn {
    font-size: 16px;
  }
}
.btn--outline {
  background-color: transparent;
}
.btn--outline:hover {
  background-color: #f7ff96;
  border: 3px solid #f7ff96;
  color: #0f0f0f;
}
.btn--blue {
  background-color: #0012b4;
}
@media only screen and (max-width: 576px) {
  .btn--blue {
    margin: 6px 0;
  }
}
.btn--blue:hover {
  background-color: transparent;
  color: #0012b4;
  border: 3px solid #0012b4;
}

h4 {
  font-family: "Righteous", cursive;
  font-size: 42px;
  color: #0012b4;
}

.project-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  width: 100%;
}
.project-card--reverse {
  flex-direction: row-reverse;
  text-align: right;
}
@media only screen and (max-width: 1200px) {
  .project-card {
    flex-direction: column;
  }
}

.project-img {
  flex: 50%;
}
@media only screen and (max-width: 576px) {
  .project-img {
    flex: 100%;
  }
}

.project-img img {
  max-width: 100%;
  /*takes 100% oof the div */
  display: flex;
  /* remove extra space below image */
}

.project-caption {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media only screen and (max-width: 576px) {
  .project-caption {
    flex: 100%;
  }
}

.text--padding,
h4 {
  padding: 0 45px;
}
@media only screen and (max-width: 1200px) {
  .text--padding,
h4 {
    padding: 15px 0;
  }
}

.project__card--buttons {
  padding: 0 45px;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .project__card--buttons {
    padding: 15px 0;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .project__card--buttons {
    padding: 15px 0;
  }
}
@media only screen and (max-width: 576px) {
  .project__card--buttons {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .project__card--buttons {
    padding: 15px 0;
  }
}

nav {
  font-family: "Righteous", cursive;
  font-size: 20px;
  color: #0f0f0f;
  text-align: right;
}

nav {
  padding: 30px;
  z-index: 5;
}
@media only screen and (max-width: 768px) {
  nav {
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;
    padding: 0;
    transition: all 0.4s ease-in-out;
  }
  nav.open {
    visibility: visible;
  }
  nav .menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transform: translateY(-150%);
    transition: all 0.4s ease-in-out;
  }
  nav .menu-nav.open {
    transform: translateY(0);
  }
  nav .menu-nav__item {
    transform: translateX(100vw);
    transition: all 0.4s ease-in-out;
  }
  nav .menu-nav__item.open {
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
  }
}

nav a {
  text-decoration: none;
  color: #0f0f0f;
  margin-left: 30px;
  transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 768px) {
  nav a {
    padding: 30px;
    margin: 0;
  }
}

nav a:hover {
  color: #0012b4;
  font-weight: bold;
  letter-spacing: 1px;
}

.menu-btn__burger::after, .menu-btn__burger::before, .menu-btn__burger, .menu-btn {
  position: absolute;
  z-index: 6;
  height: 35px;
  width: 35px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.menu-btn {
  right: 2rem;
  top: 2rem;
}
.menu-btn__burger {
  content: "";
  background: #0f0f0f;
  height: 4px;
  top: 10px;
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .menu-btn__burger {
    visibility: visible;
  }
}
.menu-btn__burger::before {
  content: "";
  background: #0f0f0f;
  top: -12px;
  height: 4px;
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .menu-btn__burger::before {
    visibility: visible;
  }
}
.menu-btn__burger::after {
  content: "";
  background: #0f0f0f;
  top: 12px;
  height: 4px;
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .menu-btn__burger::after {
    visibility: visible;
  }
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(14px, 3px);
}
.menu-btn__burger.open::after {
  transform: rotate(-45deg) translate(14px, -3px);
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 768px) {
  html.open,
body.open {
    position: fixed;
  }
}

.contact, .about-photo, .hi, .hi-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 576px) {
  .container {
    width: 96%;
  }
}
.container--yellow {
  background-color: #f7ff96;
  margin-top: 2%;
  margin-bottom: 2vw;
  width: 96%;
}

.hi-container {
  position: relative;
  height: 680px;
}
@media only screen and (max-width: 576px) {
  .hi-container {
    height: 580px;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.hi {
  position: absolute;
  z-index: 2;
}

.hi-caption {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.fade-in {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.from-left {
  transform: translateX(-25%);
}

.from-right {
  transform: translateX(25%);
}

.from-left,
.from-right {
  transition: opacity 300ms ease-in, transform 500ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

.fade-in.appear {
  opacity: 1;
}

.bg-letter {
  height: 550px;
  margin: 30px;
  animation: dance 1s 3;
}
.bg-letter__two {
  animation-delay: 0.2s;
}
.bg-letter:hover {
  animation: dance 1s infinite;
}
@media only screen and (max-width: 576px) {
  .bg-letter {
    height: 400px;
  }
}

@keyframes dance {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}
.text {
  z-index: 2;
}
.text--lg {
  font-size: 60px;
}
.text--reg {
  font-size: 18px;
}
.text--sm {
  font-size: 14px;
}
@media only screen and (max-width: 576px) {
  .text--lg {
    font-size: 40px;
  }
  .text--reg {
    font-size: 16px;
  }
  .text--sm {
    font-size: 12px;
  }
}
.text--lg {
  padding-right: 15%;
  padding-left: 15%;
  font-weight: 500;
}
.text--light {
  color: white;
}
.text--blue {
  color: #0012b4;
  font-weight: bold;
}
.text--light-center {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 12px;
}

span {
  color: #0012b4;
  font-family: "Righteous", cursive;
}

#about {
  background-color: #0f0f0f;
  padding: 60px;
}

.container__about {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .container__about {
    width: 100%;
  }
}

.about-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
  .about-card {
    flex-direction: column;
    justify-content: center;
  }
}

.about-photo {
  position: relative;
  width: 40%;
  height: 500px;
}
@media only screen and (max-width: 1200px) {
  .about-photo {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .about-photo {
    width: 100%;
    height: 300px;
  }
}

.card__photo {
  width: 400px;
  position: absolute;
}
.card__photo--bg {
  margin-right: 60px;
}
.card__photo--bg.open {
  transform: translate(40px, 30px);
  transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 576px) {
  .card__photo--bg {
    visibility: hidden;
  }
}
.card__photo--img {
  z-index: 1;
}
@media only screen and (max-width: 576px) {
  .card__photo--img {
    height: 300px;
    width: 300px;
  }
}
.card__photo--img:hover ~ .card__photo--bg {
  animation: circle 1s 1;
}

@keyframes circle {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(40px, 30px);
  }
  100% {
    transform: translate(0px);
  }
}
.about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 50%;
}
@media only screen and (max-width: 1200px) {
  .about-text {
    width: 100%;
    margin-top: 30px;
  }
}

.about-text > h2,
p {
  padding-bottom: 15px;
  padding-left: 15px;
}
@media only screen and (max-width: 1200px) {
  .about-text > h2,
p {
    padding-bottom: 30px;
  }
}

.about-btn {
  margin-left: 15px;
}

.heading--light {
  color: white;
}
.heading--dark {
  color: #0f0f0f;
}
.heading--blue {
  color: #0012b4;
}
@media only screen and (max-width: 768px) {
  .heading {
    font-size: 62px;
  }
}
.heading--centered {
  text-align: center;
}
.heading--light {
  margin: 0;
  padding: 0;
}

#projects {
  padding: 60px 30px 0 30px;
}

#skills {
  padding: 60px;
  background-color: #f7ff96;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-list p {
  padding: 0 20px;
}

#getInTouch {
  padding: 60px;
  background-color: #0f0f0f;
}

.contact {
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
  }
}

.contact * {
  margin: 0 20px;
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .contact * {
    margin: 0;
  }
}
@media only screen and (max-width: 576px) {
  .contact * {
    margin: 0;
  }
}

.contact-methods a {
  text-decoration: none;
}

.contact-methods {
  padding: 45px 0;
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .contact-methods {
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .contact-methods {
    text-align: center;
  }
}
