@use "./partials/palette";
@use "./modules/buttons.scss";
@use "./modules/project-card.scss";
@use "./partials/text-styles";
@use "./mixins/mixins.scss";
@use "./modules/nav.scss";

html,
body {
	overflow-x: hidden;
}

%flexbox-center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	margin: auto;

	@include mixins.phone {
		width: 96%;
	}

	&--yellow {
		background-color: palette.$yellow-bg-col;
		margin-top: 2%;
		margin-bottom: 2vw;
		width: 96%;
	}
}

//container for both text and letters h & i //

.hi-container {
	@extend %flexbox-center-center;
	position: relative;
	height: 680px; //why fit-content doesn't work?//

	@include mixins.phone {
		height: 580px;
	}
}

//just the letters h & i //
.hi {
	@extend %flexbox-center-center; //centering letters h & i inside a div //
	position: absolute;
	z-index: 2;
}

//intro section text //
.hi-caption {
	position: absolute;
	width: 100%;
	z-index: 3;
}

.bg-letter {
	height: 550px;
	margin: 30px;

	@include mixins.phone {
		height: 400px;
	}
}

.text {
	@extend %caption-text;
	@include mixins.caption-size(60px, 18px, 14px);

	@include mixins.phone {
		@include mixins.caption-size(40px, 16px, 12px);
	}
	z-index: 2;

	&--lg {
		padding-right: 15%;
		padding-left: 15%;
		font-weight: 500;
	}

	&--light {
		color: white;
	}

	&--blue {
		color: palette.$blue;
		font-weight: bold;
	}

	&--light-center {
		color: rgba(256, 256, 256, 0.4);
		text-align: center;
		font-size: 12px;
	}
}

span {
	color: palette.$blue;
	font-family: "Righteous", cursive;
}

#about {
	background-color: palette.$dark;
	padding: 60px;
}

.container__about {
	width: 70%;
	@include mixins.phone {
		width: 100%;
	}
}

.about-card {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; //flex-wrap doesn't work //

	@include mixins.laptop-and-smaller {
		flex-direction: column;
		justify-content: center;
	}
}

//partent div for photo and yellow circle //
.about-photo {
	position: relative;
	width: 40%;
	height: 420px;
	@extend %flexbox-center-center;

	@include mixins.laptop-and-smaller {
		width: 100%;
	}

	@include mixins.phone {
		width: 100%;
		height: 300px;
	}
}

// both photo and yellow cicrle //
.card__photo {
	width: 400px;
	position: absolute;

	&--bg {
		margin-right: 60px;

		@include mixins.phone {
			visibility: hidden;
		}
	}

	&--img {
		z-index: 1;
		@include mixins.phone {
			height: 300px;
		}
	}
}

.about-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	width: 50%;

	@include mixins.laptop-and-smaller {
		width: 100%;
		margin-top: 30px;
	}
}

.about-text > h2,
p {
	@include mixins.laptop-and-smaller {
		padding-bottom: 30px;
	}
}

.heading {
	@include mixins.heading-col(palette.$light, palette.$dark, palette.$blue);
	@extend %heading-two;

	@include mixins.tablet-and-smaller {
		font-size: 62px;
	}

	&--centered {
		text-align: center;
	}

	&--light {
		margin: 0;
		padding: 0;
	}
}

#projects {
	padding: 60px 30px 0 30px;
}

#skills {
	padding: 60px;
	background-color: palette.$yellow-bg-col;
}

.skills-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skills-list p {
	@extend %list-text;
}

#getInTouch {
	padding: 60px;
	background-color: palette.$dark;
}

.contact {
	@extend %flexbox-center-center;
	flex-wrap: wrap;

	@include mixins.tablet-and-smaller {
		flex-direction: column;
		@extend %flexbox-center-center; //doesn't work //
	}
}

.contact * {
	margin: 0 20px;

	@include mixins.tablet {
		margin: 0;
	}

	@include mixins.phone {
		margin: 0;
	}
}

.contact-methods a {
	text-decoration: none;
}

.contact-methods {
	padding: 45px 0;

	@include mixins.tablet {
		text-align: center;
	}

	@include mixins.phone {
		text-align: center;
	}
}

// change nav to responsive

// git push --all
// git push origin develop
