@mixin caption-size($lg, $reg, $sm) {
	&--lg {
		font-size: $lg;
	}

	&--reg {
		font-size: $reg;
	}

	&--sm {
		font-size: $sm;
	}
}

@mixin heading-col($light, $dark, $blue) {
	&--light {
		color: $light;
	}

	&--dark {
		color: $dark;
	}

	&--blue {
		color: $blue;
	}
}

//media queries //
